<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209773805623-j1ap3ev5iq5adtlp6o5m3p57lhpuksv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209773805623-j1ap3ev5iq5adtlp6o5m3p57lhpuksv2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>209773805623-a3lt4m1bbiusphdvejesrmt88t0gpv9h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbwGX2cNDp8dlatYGUnsmmf5C8Fkq4xws</string>
	<key>GCM_SENDER_ID</key>
	<string>209773805623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasksBasic.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>task-basic</string>
	<key>STORAGE_BUCKET</key>
	<string>task-basic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209773805623:ios:a47f1f38c2b58a269bffb2</string>
</dict>
</plist>